.App {
  text-align: center;
  background-color: #bee9fb;
}

.App-logo {
  width: 50%;
}

.App-header {
  /* background-color: #bee9fb; */
  padding: 40px 0 0 0;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.Submit-button {
  margin-top: 10px;
}

.App-form {
  margin-top: 40px;
  width: 100%;
  padding: 0 10px 0 10px;
  max-width: 50%;
}

.App-link {
  color: #61dafb;
}

.form-inline {
  width: 100%;
}

.form-group {
  width: 90%;
}

.input-group {
  width: 90% !important;
}

.form-control {
  width: 100% !important;
}

span.input-group-addon {
  width: 100px !important;
}
